body
    color: blue
    background-color: gray
    transition: all 500ms

.moose
    font-size: 2+2+3*3*5px
    color: white

.hello
    color: red
    font-size: 30px
    border-radius: 10px
    opacity: .5
    box-sizing: border-box
    display: flex
